h4 {
    font-weight: bold;
    color: #52575C !important;
  }

.full-width-download {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    border-radius: 16px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.05em;
    max-width: 140px;
  }

.button-download-disabled[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }